html,
body,
#root,

.container {
  height: 100vh;
}

.App {
  margin: 0;
  height: 100%;
  width: 100%;

}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chart-container {
  flex: 1;
}


.app-container {
  flex: 1;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;


}

.footer {
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}